
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<br />


<div class="justify-content-md-between">
    <div class="row">
        <div class="span4">
            <img style="float:left" src="https://via.placeholder.com/200" />
            <div class="content-heading" style="padding-left:30%"><h3>Kadir Akın KORKUNÇ &nbsp </h3></div>
            <p style="padding-left:30%">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="span4">
            <img style="float:left" src="https://via.placeholder.com/200" />
            <div class="content-heading" style="padding-left:30%"><h3>Kadir Akın KORKUNÇ &nbsp </h3></div>
            <p style="padding-left:30%">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
</div>


<div class="justify-content-md-between">
    <div class="row">
        <div class="span4">
            <img style="float:left" src="https://via.placeholder.com/200" />
            <div class="content-heading" style="padding-left:30%"><h3>Kadir Akın KORKUNÇ &nbsp </h3></div>
            <p style="padding-left:30%">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
    <br />
</div>

