@using System.Web.Optimization
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/css")
    <link href="~/Content/404.css" rel="stylesheet" />
</head>

<body>

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <a href="/Home/Index" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

</body>
